.girlphoto{
  margin-left: 800px;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
    display: flex; 
    gap: 10px;
}
.me{
  margin-left: 500px;
  margin-top: 200px;
}