.girlphoto{
  margin-left: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  .icon {
    display: flex; /* или display: grid; */
    gap: 10px; /* укажите нужное значение gap */
}