.girlphoto{
  margin-left: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  gap: 20px;
  font-size: 3em;

  /* Add your CSS here */
  /* Example: Change the color of the icons */
  color: #ff0000;
}