.app {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}
.header {
  background: #f4f4f4;
  padding: 20px;
}

.intro {
  margin: 20px;
}

.highlight {
  color: #e76e34; /* Orange color */
  font-weight: bold;
}

.about-btn {
  padding: 10px 20px;
  border: none;
  background-color: #e76e34;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
